<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fileSystemSection"
             type="BCL.Configuration.FileSystemMonitorConfigSection, BCL"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <fileSystemSection culture="ru-RU">
    <directories>
      <directory path="D:\TestBCL"/>
    </directories>
    <rules defaultDir="D:\defaultFolder">
      <rule filePattern="1.*" isOrderAppended="false" isDateAppended="false" destFolder="D:\TestBCL\destFolder1"/>
      <rule filePattern="2.*" isOrderAppended="false" isDateAppended="true" destFolder="D:\TestBCL\destFolder2"/>
      <rule filePattern="3.*" isOrderAppended="true" isDateAppended="false" destFolder="D:\TestBCL\destFolder3"/>
      <rule filePattern="4.*" isOrderAppended="true" isDateAppended="true" destFolder="D:\TestBCL\destFolder4"/>
    </rules>
  </fileSystemSection>
</configuration>